*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
.hidden{
	display: none;
}
.title-left{
	float: left;
	margin: 20px;
	line-height: 16px;
    font-size: 16px;
    color: #07111b;
}
.title-right{
	float: right;
	margin: 20px;
	line-height: 14px;
    font-size: 14px;
    color: #07111b;
}
/*nav*/
.header{
	height:570px;
}
.nav{
	background: url(../images/nav-banner.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 490px;
	background-color: #FDFDFD;
}
.nav-pos{
	padding-top: 10px;
}
.nav-ul{
	width: 70%;
}
.nav-pos div
{
	display: inline-block;
}
.nav .pos{
	width: 100%;
}
.nav .logo
{
	background: url(../images/logo.png) no-repeat center center;
	background-size: 100%;
	width: 140px;
	height: 60px;
	margin-left: 20px;
	float: left;
}
.nav ul li{
	display:inline-block;
}
.nav .left{
	float: left;
	margin-left: 20px;
	width: 400px;
}
.nav .left a{
	height: 60px;
	padding:0 20px;
	line-height: 60px;
}
.nav .right{
	float: right;
	margin-right: 20px;
	width: 600px;
	text-align: right;
}
.nav .right li .search{
    border: 0;
    outline:medium;
}
.search-active{
	border: 0;
	outline:medium;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #d9dde1;
}
.display{
	display: none;
}
.nav .right a{
	height: 60px;
	padding:0 20px;
	line-height: 60px;
}
.nav .right i{
	width: 32px;
	height: 32px;
}
.nav .right .user-img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	position: absolute;
	top: 22px;
	right:20px; 
}
.user-information{
	position: absolute;
	top:70px;
	right:10px;
	height:200px;
	width:300px;
	background: url(../images/user_card_top.png) no-repeat;
	background-color: #fff;
	text-align: left;
}
.user-card-top{
	color: #fff;
	font-size: 14px;
}
.user-card-top img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.user-card-top .img{
	position: absolute;
	top: 20px;
	left:20px; 
}
.user-card-top .card{
	position: absolute;
	top:25px;
	left:90px; 
}
.user-card-top .card1{
	position: absolute;
	top:32px;
	left:230px; 
}
.user-card-top div{
	display: inline-block;
}
.user-card-middle{
	width:300px;
	font-size: 14px;
	position: absolute;
	top:110px;
	border-bottom:1px solid #d9dde1;
	height:60px;
	color: #787d82;
}
.user-card-middle div{
	display: inline-block;
}
.user-card-middle .left{
	width: 200px;
	position: absolute;
	left:20px;
	top:5px;
}
.user-card-middle .right{
	width:40px;
	position: absolute;
	top:10px;
	left:230px;
}
.user-card-bottom{
	position: absolute;
	top:175px;
	font-size: 14px;
	color: #787d82;
}
.user-card-bottom .left{
	top: -20px;
	position: absolute;
	width: 150px;
}
.user-card-bottom .right{
	top: -20px;
	position: absolute;
	left: 200px;
	width: 50px;
}
/*banner*/
.banner{
	width: 1200px;
	height: 460px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
/*tab*/
.banner .tab{
	width: 250px;
	height: 460px;
	position: absolute;
	background-color: RGBA(0,0,0,.4);
	z-index: 2;
}
.banner .tab section:hover{
	background-color: RGBA(0,0,0,.5);
	cursor: pointer;
}
.banner .tab-div{
	margin: 10px 10px;
	height: 80px;
	width: 230px;
	border-bottom: 1px solid #FDFDFD;
	color: #fff;
}
.banner .tab-div-bottom{
	margin: 10px 10px;
	height: 80px;
	width: 230px;
	color: #fff;
}
.banner .tab-div-bottom:hover{
	background-color: RGBA(0,0,0,.5);
	cursor: pointer;
}
.banner .tab-text{
	padding:10px 10px;
}
.banner .tab-div .p{
	line-height:16px;
    font-size: 16px;
}
.banner .tab-text-p p{
	font-size: 14px;
	line-height:12px;
	float: left;
	padding-right:10px;
}
.banner .tab-body1{
	background: url(../images/fe.png);
	height: 460px;
	width: 732px;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 250px;
}
.banner .tab-body2{
	background: url(../images/be.png);
	height: 460px;
	width: 732px;
	z-index: 3;
	position: absolute;
	left: 250px;
	top: 0;
}
.banner .tab-body3{
	background: url(../images/mobile.png);
	height: 460px;
	width: 732px;
	z-index: 3;
	position: absolute;
	left: 250px;
	top: 0;
}
.banner .tab-body4{
	background: url(../images/data.png);
	height: 460px;
	width: 732px;
	z-index: 3;
	position: absolute;
	left: 250px;
	top: 0;
}
.banner .tab-body5{
	background: url(../images/photo.png);
	height: 460px;
	width: 732px;
	z-index: 3;
	position: absolute;
	left: 250px;
	top: 0;
}

.banner .tab-body h3{
	padding: 50px;
	color: #f01400;
}
.banner .tab-body p{
	padding:0 50px;
	color: #14191e;
	line-height:30px;
}
.banner #list{
	width: 10000px;
	height: 460px;
	position: absolute;
	z-index: 1;
	transition:left 1s;
	-moz-transition:left 1s; /* Firefox 4 */
	-webkit-transition:left 1s; /* Safari and Chrome */
	-o-transition:left 1s; /* Opera */
}
.banner #list{
	float: left;
}
.banner #button{
	z-index: 2;
	height: 10px;
	position: absolute;
	bottom:30px; 
	right: 100px;
}
.banner #button .on{
	 background: #f01400;
}
.banner #button span{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #fff;
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.banner .arrow{
	width: 40px;
	height: 80px;
	font-size:55px;
	z-index: 2;
	position: absolute;
	top:180px;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
}
.banner .arrow:hover{
	background-color: RGBA(0,0,0,.4);
}
.banner #prve{
	left: 270px;
}
.banner #next{
	right: 20px;
}
/*recommend*/
.recommend{
	width: 1200px;
	height: 260px;
	margin: auto;
	position: relative;
}
.recommend .detailPo{
	position: absolute;
	top:60px;
	cursor: pointer;
}
.detail{
	width:228px;
	height: 172px;
	display:inline-block;
	margin:3px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
	background-color: #fff;
}
.detail:hover{
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
}
.detail img{
	position: absolute;
	z-index: 1;
}
.detail p{

	font-size: 16px;
}
.detail .detail-text{
	background-color: RGBA(255,255,255,.9);
	position: absolute;
	width: 228px;
	height:120px;
	top:30px;
	z-index: 2;
	text-align: left;
}
.detail .overflow{
	overflow: hidden;
	height:40px;
	top:100px;
}
.detail .detail-text .p1{
	font-size: 14px;
	padding:20px 20px 0 20px;
}
.detail .detail-text .p2{
	padding: 0 20px 0 20px;
	color: #93999f;
	font-size: 14px;
}
.detail .detail-pr{
	position: absolute;
	width: 228px;
	top:150px;
	z-index: 2;
	padding-left: 20px;
}
.detail .detail-pr .p1{
	color: #EF1300;
	font-size: 12px;
}
.detail .detail-pr .p2{
	float: right;
	padding-right:40px;
	color: #93999f;
	font-size: 12px;
}
.detail .detail-pr .p3{
	color: #93999f;
	font-size:14px;
	border-bottom: 1px solid #f7f7f7;
}
/*free*/
.free{
	width: 1200px;
	height: 260px;
	margin: auto;
	position: relative;
}
.free .detailPo{
	position: absolute;
	top:80px;
	cursor: pointer;
}
.free .title-left{
	position: absolute;
	top:20px;
}
.free .title-right{
	position: absolute;
	top:20px;
	right: 0
}
/*main*/
.main{
	background-color: #f3f5f7;
	margin-top:60px;
}
.main .web{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .web .web-left{
	background: url(../images/web.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .web .web-middle1{
	background: url(../images/web-middle1.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left:240px;
}
.main .web .web-middle2{
	background: url(../images/web-middle2.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left: 240px;
	top: 192px;
}
.main .web .web-middle-right{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
}
.main .web .detail{
	height:172px;
}
.main .web .web-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*java*/
.main .java{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .java .java-left{
	background: url(../images/java.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .java .java-middle1{
	background: url(../images/java-middle1.jpg);
	width: 710px;
	height:172px;
	position: absolute;
	left:240px;
}
.main .java .java-middle2{
	width: 710px;
	height:172px;
	position: absolute;
	left: 240px;
	top: 192px;
}
.main .java .java-middle-right{
	display: inline-block;
	height:172px;
	width: 233px;
}
.main .java .detail{
	height:172px;
}
.main .java .java-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*php*/
.main .php{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .php .php-left{
	background: url(../images/php.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .php .php-middle{
	background: url(../images/php-middle.jpg);
	height: 364px;
	width: 468px;
	position: absolute;
	left:240px;
}
.main .php .php-middle-right{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
}
.main .php .detail{
	height:172px;
}
.main .php .php-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*Android*/
.main .Android{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .Android .Android-left{
	background: url(../images/Android.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .Android .Android-middle1{
	background: url(../images/java-middle1.jpg);
	width: 710px;
	height:172px;
	position: absolute;
	left:240px;
}
.main .Android .Android-middle2{
	width: 710px;
	height:172px;
	position: absolute;
	left: 240px;
	top: 192px;
}
.main .Android .Android-middle-right{
	display: inline-block;
	height:172px;
	width: 233px;
}
.main .Android .detail{
	height:172px;
}
.main .Android .Android-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*ios*/
.main .ios{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .ios .ios-left{
	background: url(../images/ios.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .ios .ios-middle1{
	background: url(../images/web-middle1.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left:240px;
}
.main .ios .ios-middle2{
	background: url(../images/web-middle2.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left: 240px;
	top: 192px;
}
.main .ios .ios-middle-right{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
}
.main .ios .detail{
	height:172px;
}
.main .ios .ios-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*Linux*/
.main .Linux{
	width: 1200px;
	height:224px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .Linux .detail1{
	width: 224px;
	height:172px;
	display:inline-block;
	background: url(../images/Linux.png);
}
.main .Linux .detail2{
	height:171px;
	display:inline-block;
	margin-left: 5px;
}
.main .Linux .detail{
	width:230px;
	height: 171px;
	display:inline-block;
	margin:3px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
/*shouji*/
.main .shouji{
	width: 1200px;
	height: 404px;
	margin: auto;
	position: relative;
	top: 40px;
}
.main .shouji .shouji-left{
	background: url(../images/shoujileft.png);
	width: 224px;
	height: 364px;
	position: absolute;
}
.main .shouji .shouji-middle1{
	background: url(../images/web-middle1.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left:240px;
}
.main .shouji .shouji-middle2{
	background: url(../images/web-middle2.jpg);
	width: 468px;
	height:172px;
	position: absolute;
	left: 240px;
	top: 192px;
}
.main .shouji .shouji-middle-right{
	position: absolute;
	left:485px;
	height:172px;
}
.main .shouji .detail{
	height:172px;
}
.main .shouji .shouji-middle-right1{
	position: absolute;
	left:720px;
	height:172px;
	width: 172px;
	top: 192px;
}
/*footer*/
.footer{
	width: 1200px;
	margin: auto;
	position: relative;
	top: 40px;
	text-align: center;
	color: #99a1a6;
}
.footer .footer-top{
	margin-top: 20px;
}
.footer .footer-top span{
	padding: 10px;
}
.footer .footer-middle{
	margin-top: 20px;
	height: 50px;
	border-bottom: 1px solid #d0d6d9; 
}
.footer .footer-middle a{
	padding: 10px;
}
.footer .footer-bootm{
	margin-top: 20px;
	height: 50px;
}